$icon-font-path: '../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

$primary: #f5821f;
$secondary: #0e4065;
$dark:#4a4a4a;
$success: #b8e986;
$denger: #f4576a;
$warning: #b29660;
$light: #f3f3f3;

